/* Container styles */
.admin-add-loan-container {
  max-width: 100%; /* Make the container responsive */
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Input styles */
.admin-add-loan-container input {
  flex: 1; /* Distribute available space equally between input forms */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%; /* Make the input fields responsive */
  box-sizing: border-box;
}

/* Button styles */
.admin-add-loan-container button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Make the button responsive */
  box-sizing: border-box;
}

.admin-add-loan-container button:hover {
  background-color: #0056b3;
}

/* Responsive media queries */
@media (max-width: 768px) {
  /* Adjust container width for smaller screens */
  .admin-add-loan-container {
      width: 90%;
      max-width: 100%;
  }
}

@media (max-width: 576px) {
  /* Further adjustments for even smaller screens */
  .admin-add-loan-container {
      width: 95%;
  }

  .admin-add-loan-container input {
      font-size: 14px; /* Reduce font size for smaller screens */
  }
}

@media (min-width: 1200px) {
  /* Adjust styles for larger screens */
  .admin-add-loan-container {
      width: 600px;
  }
}
