/* Container styles */
.admin-add-item-container {
  width: 100%; /* Make the container responsive */
  max-width: 450px; /* Set a maximum width */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Input styles */
.admin-add-item-container input {
  flex: 1; /* Distribute available space equally between input forms */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%; /* Make the input fields responsive */
  box-sizing: border-box;
}

/* Button styles */
.admin-add-item-container button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Make the button responsive */
  box-sizing: border-box;
}

.admin-add-item-container button:hover {
  background-color: #0056b3;
}

/* Responsive media queries */
@media (max-width: 576px) {
  /* Adjust container width and padding for smaller screens */
  .admin-add-item-container {
      max-width: 90%; /* Reduce maximum width for smaller screens */
      padding: 10px; /* Reduce padding for smaller screens */
  }

  .admin-add-item-container input {
      font-size: 14px; /* Reduce font size for smaller screens */
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  /* Adjust styles for screens between 577px and 767px */
  .admin-add-item-container {
      max-width: 80%; /* Reduce maximum width for medium-sized screens */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Adjust styles for screens between 768px and 991px */
  .admin-add-item-container {
      max-width: 60%; /* Reduce maximum width for larger screens */
  }
}

@media (min-width: 992px) {
  /* Adjust styles for screens larger than 991px */
  .admin-add-item-container {
      max-width: 450px; /* Restore the original maximum width */
  }
}
