body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

nav {
	background-color: #007bff;
	padding: 10px;
	text-align: right;
}

nav a {
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
	font-size: 16px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* This makes sure the component is centered vertically */
}

h1 {
	font-size: 28px;
	color: #333;
}

p {
	font-size: 16px;
	color: #777;
}

.dashboard {
	text-align: center;
	margin-top: 20px;

	padding: 20px; /* Add padding to space out the dashboard contents */
}

.dashboard p {
	margin: 10px 0;
}

.dashboard-button-container {
	display: flex;
	justify-content: center;
	margin-top: 20px; /* Add margin to space out the button container from the headings */
}

.dashboard-button-container button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	margin: 10px;
	cursor: pointer;
}

.dashboard-button-container button:hover {
	background-color: #0056b3;
}

@media (max-width: 600px) {
	.container {
		padding: 10px;
	}

	nav {
		text-align: center;
	}

	nav a {
		display: block;
		margin-bottom: 10px;
	}
}
