.error-500-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .error-500-h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ff5733;
  }
  
  .error-500-p {
    font-size: 24px;
    color: #333;
  }
  