/* Base styles */
h2 {
  text-align: center;
}

.registration-container {
  width: 100%;
  max-width: 450px; /* Limit maximum width for larger screens */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.submit-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Media query for smaller screens */
@media screen and (max-width: 576px) {
  .registration-container {
    padding: 15px;
    max-width: 100%; /* Make it full-width on smaller screens */
  }

  .input-field,
  .submit-button {
    padding: 8px;
    font-size: 14px;
  }
}

/* Media query for medium-sized screens */
@media screen and (min-width: 577px) and (max-width: 1024px) {
  .registration-container {
    max-width: 400px; /* Adjust max-width for medium-sized screens */
  }
}

/* Media query for larger screens */
@media screen and (min-width: 1025px) {
  .registration-container {
    max-width: 600px; /* Adjust max-width for larger screens */
  }
}
